.dropSearch {
  width: 100%;
  height: 100%;
}

.dropToggleSearch {
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  display: flex !important;
  flex-wrap: nowrap;
}

.Header-Container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 13px;
  font-family: Open Sans Semibold,Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  /* z-index: 1000; */
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,.6);
}

.Header-Left {
  padding-left: 10px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.Header-Right {
  padding-right: 17px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.Search-Container {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 360px;
  height: 40px;
  vertical-align: super;
}

.Search-Content {
  font-size: 13px;
  font-family: Open Sans Semibold,Helvetica Neue,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  /* padding: 4px; */
  height: 40px;
  border-radius: 4px;
  background: hsla(0,0%,100%,.08);
  color: #eee;
  -webkit-transition: background-color .2s,color .2s;
  transition: background-color .2s,color .2s;
}

.Search-Content-focus {
  background: #eee;
}

.Search-item {
  margin: 4px 10px 0 18px;
  font-size: 14px;
}

.Search-Input {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  /* height: 30px; */
  outline: 0;
  border: none;
  background: transparent;
  color: #eee;
  font-size: 18px;
}

.Search-btn {
  color: hsla(0,0%,100%,.7);
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  border-radius: 0;
  background: none;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: color .2s;
  transition: color .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

.Search-btn-item {
  margin: 4px 10px 0 18px;
  /* margin: 0 5px 0 10px; */
  font-size: 14px;
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: inherit;
  text-transform: none;
  font-weight: 400;
  font-style: normal;
  font-family: plex-icons;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  text-rendering: optimizeLegibility;
  speak: none;
}
